/* #region esercizio 1 */

/* #endregion esercizio 2 */

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 3s;
}
/* #region esercizio 1 */
.ex-1-square:hover{
    background-color: red;
}
/* #endregion esercizio 1 */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s;
}

/* #region esercizio 2 */
.ex-2-square:hover{
    width: 100%;
}
/* #endregion esercizio 2 */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 3s;
}

/* #region esercizio 3 */
.ex-3-square:hover{
    border-radius: 50%;
}
/* #endregion esercizio 3 */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: background-color 3s;
}

/* #region esercizio 4 */
.ex-4-square:hover{
    background-color: transparent;
}
/* #endregion esercizio 4 */

.ex-5-square {
    width: 60px;
    height: 60px;
    background: red;
    transition: width 3s, height 3s;
}

/* #region esercizio 5 */
.click_div{
    width: 60px;
    height: 60px;
    margin: 20px;
    position: relative;
    display: inline-block;
}

.click{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    position: absolute;
    z-index: 10;
    appearance: none !important;
    outline: none !important;
}

.click:hover ~ .ex-5-square{
    width: 100px;
    height: 100px;
}

.click:hover{
    width: 100px;
    height: 100px;
}

.click:checked ~ .ex-5-square{
    width: 40px;
    height: 40px;
}

.click:checked{
    width: 40px;
    height: 40px;
}

/* #endregion esercizio 5 */

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* #region esercizio 6 */
.ex-6-img:hover{
    filter: grayscale();
}
/* #endregion esercizio 6 */

/* #region esercizio 7 */
.ex-7-img{
    transition: filter 3s;

}

.ex-7-img:hover{
    filter: grayscale() invert();
}
/* #endregion esercizio 7 */

/* #region esercizio 8 */
.ex-8-img{
    transition: filter 3s, border-radius 3s;

}

.ex-8-img img{
    object-fit: cover;
}

.ex-8-img:hover{
    filter: grayscale() invert();
    border-radius: 50%;
}
/* #endregion esercizio 8 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: filter 3s, border-radius 3s, width 3s;
}

/* #region esercizio 9 */
.ex-9-img img{
    object-fit: cover;
}

.ex-9-img:hover{
    filter: grayscale() invert();
    border-radius: 50%;
    width: 500px;
}
/* #endregion esercizio 9 */

.ex-10-icon {
    font-size: 60px;
    animation: gira 3s infinite;
}

/* #region esercizio 10 */
@keyframes gira {
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* #endregion esercizio 10 */

.ex-11-icon {
    font-size: 60px;
    animation: gira_2 3s infinite;
}

/* #region esercizio 11 */
@keyframes gira_2 {
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/* #endregion esercizio 11 */

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* #region esercizio 12 */
.ex-12-top-white{
    animation: destra_sinistra_top 2s infinite;
}

@keyframes destra_sinistra_top {
    0%{
        left: 10%;
    }
    25%{
        left: 30%;
    }
    50%{
        left: 40%;
    }
    75%{
        left: 30%;
    }
    100%{
        left: 10%;
    }
}

.ex-12-bottom-white{
    animation: destra_sinistra_bottom 2s infinite;
}

@keyframes destra_sinistra_bottom {
    0%{
        right: 20%;
    }
    25%{
        right: 40%;
    }
    50%{
        right: 50%;
    }
    75%{
        right: 40%;
    }
    100%{
        right: 20%;
    }
}
/* #endregion esercizio 12 */

/* #region esercizio 13 */
.ex-13-top-white{
    position: absolute;
    top: -10px;
    left: 0;
    background: #f5f5f5;
    width: 0px;
    height: 20px;
    animation: top_grow 10s infinite;  
}


.ex-13-right-white {
    position: absolute;
    right: -10px;
    top: 0;
    background: #f5f5f5;
    width: 20px;
    height: 0px;
    animation: right_grow 10s infinite 3.7s;  
}

.ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 0;
    background: #f5f5f5;
    width: 0px;
    height: 20px;
    animation: bottom_grow 10s infinite 5s;  
}

.ex-13-left-white {
    position: absolute;
    left: -10px;
    bottom: 0;
    background: #f5f5f5;
    width: 20px;
    height: 0px;
    animation: left_grow 10s infinite 8.7s;  
}

/* #region top_grow */
@keyframes top_grow {
    0%{
        width:0;
    }

   11%{
       left: 0;
        width: 60px;
    }

    37%{
        left: calc(100% - 60px);
        width: 60px;
    }

    48%{
        left: 100%;
        width: 0;
    }



    100%{
        left: 100%;
        width: 0;
        
    }

}
/* #endregion top_grow */

/* #region bottom_grow */
@keyframes bottom_grow {
    0%{
        width:0;
    }

   11%{
       right: 0;
        width: 60px;
    }

    37%{
        right: calc(100% - 60px);
        width: 60px;
    }

    48%{
        right: 100%;
        width: 0;
    }

    48.1%{
        visibility: hidden;
    }

    100%{
        visibility: hidden;
    }

}
/* #endregion bottom_grow */
    
/* #region right_grow */
@keyframes right_grow {
    0%{
        height:0;
    }

   11%{
       top: 0;
        height: 60px;
    }

    13%{
        top: calc(100% - 60px);
        height: 60px;
    }

    24%{
        top: 100%;
        height: 0;
    }

    24.1%{
        visibility: hidden;
    }

    100%{
        visibility: hidden;
    }

}
/* #endregion right_grow */

/* #region left_grow */
@keyframes left_grow {
    0%{
        height:0;
    }

   11%{
       bottom: 0;
        height: 60px;
    }

    13%{
        bottom: calc(100% - 60px);
        height: 60px;
    }

    24%{
        bottom: 100%;
        height: 0;
    }

    24.1%{
        visibility: hidden;
    }

    100%{
        visibility: hidden;
    }

}
/* #endregion left_grow */

/* -------------------------------------------------------------------- */





.ex-13-bottom-white_2 {
    position: absolute;
    bottom: -10px;
    right: 0;
    background: #f5f5f5;
    width: 0px;
    height: 20px;
    animation: bottom_grow_2 10s infinite ;  
}

.ex-13-left-white_2 {
    position: absolute;
    left: -10px;
    bottom: 0;
    background: #f5f5f5;
    width: 20px;
    height: 0px;
    animation: left_grow_2 10s infinite 3.7s;  
}

.ex-13-top-white_2{
    position: absolute;
    top: -10px;
    left: 0;
    background: #f5f5f5;
    width: 0px;
    height: 20px;
    animation: top_grow_2 10s infinite 5s;  
}

.ex-13-right-white_2 {
    position: absolute;
    right: -10px;
    top: 0;
    background: #f5f5f5;
    width: 20px;
    height: 0px;
    animation: right_grow_2 10s infinite 8.7s;  
}

.ex-13-top-white_2{
    position: absolute;
    top: -10px;
    left: 0;
    background: #f5f5f5;
    width: 0px;
    height: 20px;
    animation: top_grow_2 10s infinite 5s;  
}


/* #region top_grow */
@keyframes top_grow_2 {
    0%{
        width:0;
    }

   11%{
       left: 0;
        width: 60px;
    }

    37%{
        left: calc(100% - 60px);
        width: 60px;
    }

    48%{
        left: 100%;
        width: 0;
    }



    100%{
        left: 100%;
        width: 0;
        
    }

}
/* #endregion top_grow */

/* #region bottom_grow */
@keyframes bottom_grow_2 {
    0%{
        width:0;
    }

   11%{
       right: 0;
        width: 60px;
    }

    37%{
        right: calc(100% - 60px);
        width: 60px;
    }

    48%{
        right: 100%;
        width: 0;
    }

    48.1%{
        visibility: hidden;
    }

    100%{
        visibility: hidden;
    }

}
/* #endregion bottom_grow */
    
/* #region right_grow */
@keyframes right_grow_2 {
    0%{
        height:0;
    }

   11%{
       top: 0;
        height: 60px;
    }

    13%{
        top: calc(100% - 60px);
        height: 60px;
    }

    24%{
        top: 100%;
        height: 0;
    }

    24.1%{
        visibility: hidden;
    }

    100%{
        visibility: hidden;
    }

}
/* #endregion right_grow */

/* #region left_grow */
@keyframes left_grow_2 {
    0%{
        height:0;
    }

   11%{
       bottom: 0;
        height: 60px;
    }

    13%{
        bottom: calc(100% - 60px);
        height: 60px;
    }

    24%{
        bottom: 100%;
        height: 0;
    }

    24.1%{
        visibility: hidden;
    }

    100%{
        visibility: hidden;
    }

}
/* #endregion left_grow */

/* #endregion esercizio 13 */