/* #region esercizio 1 */

/* #endregion esercizio 2 */

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 3s;
}
/* #region esercizio 1 */
.ex-1-square:hover{
    background-color: red;
}
/* #endregion esercizio 1 */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s;
}

/* #region esercizio 2 */
.ex-2-square:hover{
    width: 100%;
}
/* #endregion esercizio 2 */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 3s;
}

/* #region esercizio 3 */
.ex-3-square:hover{
    border-radius: 50%;
}
/* #endregion esercizio 3 */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: background-color 3s;
}

/* #region esercizio 4 */
.ex-4-square:hover{
    background-color: transparent;
}
/* #endregion esercizio 4 */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* #region esercizio 6 */
.ex-6-img:hover{
    filter: grayscale();
}
/* #endregion esercizio 6 */

/* #region esercizio 7 */
.ex-7-img{
    transition: filter 3s;

}

.ex-7-img:hover{
    filter: grayscale() invert();
}
/* #endregion esercizio 7 */

/* #region esercizio 8 */
.ex-8-img{
    transition: filter 3s, border-radius 3s;

}

.ex-8-img img{
    object-fit: cover;
}

.ex-8-img:hover{
    filter: grayscale() invert();
    border-radius: 50%;
}
/* #endregion esercizio 8 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: filter 3s, border-radius 3s, width 3s;
}

/* #region esercizio 9 */
.ex-9-img img{
    object-fit: cover;
}

.ex-9-img:hover{
    filter: grayscale() invert();
    border-radius: 50%;
    width: 500px;
}
/* #endregion esercizio 9 */

.ex-10-icon {
    font-size: 60px;
    animation: gira 3s infinite;
}

/* #region esercizio 10 */
@keyframes gira {
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* #endregion esercizio 10 */

.ex-11-icon {
    font-size: 60px;
    animation: gira_2 3s infinite;
}

/* #region esercizio 11 */
@keyframes gira_2 {
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/* #endregion esercizio 11 */

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}